
*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400 ; 
    padding: 0;
    margin: 0;
}


.header {
  padding-top:1.3rem;
  text-align: center;
  height: 5rem;
  font-size: 1.5rem;
/*     background-color:aquamarine; */
  border: 1px solid;
}

/* ---------------------------texts in page 1-------------- */

/* ------background------- */
.background-page1{
  position: fixed;
  height: 100%;
  width:100%;
  background-size:cover;
  background-image: url("/IMG/cool-background.png");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -300;
}


.p11-first-site{
  position: relative;
  border: 1px solid;
  border-radius: 15px;
  padding: 1rem;
  top: 3rem;
  float: left;
  margin-left: 5rem;
  width: 15rem;
}
.p22-first-site{
  position: relative;
  border: 1px solid;
  border-radius: 15px;
  padding: 1rem;
  top: 22rem;
  float: right;
  margin-top: 0rem;
  margin-right: 33%;
  width: 15rem;
  
}
/* ----------------logo----------------- */
.logo {
  position: absolute;
  top: 0rem;
  right: 1rem;
}

/*---------------sidenav-----------------*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu{
  position: absolute;
  top: 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.footer{
  position: absolute;
  margin: 3rem 0rem 0rem 3rem;
  bottom: 4rem;
  background-color: #8181815f;
}


/* ---------------------------------------------------------------------page2 */

/* Background page 2 */
.background-page2{
  position: fixed;
  height: 100%;
  width:100%;
  background-size:cover;
  background-image: url("/IMG/slycb6.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -300;
}
/*-------------------Slideshow________________________*/
/*  {box-sizing: border-box} */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position:relative;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* -----------------------------------------page3-------------------- */

 .background-page3{
  position: fixed;
  height: 100%;
  width:100%;
  background-size:cover;
  background-image: url("/IMG/desktop-backgrounds-nawpic-1.png");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -300;
} 
 
 .list2{
  position: relative;
  margin-left: 8%;
  margin-top: 10%;
  font-size: 1.3rem;
  font-family:'Klee One', cursive;
}
.mehr{
  position: relative;
  margin-left: 66%;
  margin-top: 10%;
  font-size: 1.2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.gold{
  color:orange;
}

/* ---------------------page4------------ */

.background-page4{
  position: fixed;
  height: 100%;
  width:100%;
  background-size:cover;
  background-image: url("/IMG/Quellen.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -300;
} 

.list1{
  position: absolute;
  top: 330px;
  left: 130px;
}
li{
  font-size: 24px;
}
a{
  text-decoration:none;
  color: rgb(0, 0, 0);
  
}
a:visited {
text-decoration: none;
}

/* --------------media------------------------------------- */
@media screen and (max-height: 500px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 0.8rem;}
} 

@media screen and (max-width: 500px) {
  *{
    font-size: 0.8rem;
  }
  .logo {display: none;}
  .menu {font-size: 0.8rem;}
  .p11-first-site{
    margin-bottom: 0rem;
    padding: 0.2rem;
    font-size: 0.7rem;
  }
  .p22-first-site{
    position:absolute;
    margin-bottom: 2rem;
    margin-top: 0rem;
    padding: 0.2rem;
    font-size: 0.7rem;
  }
  .header{
    font-size: 0.80rem;
  }
  .footer{
    position: fixed;
    bottom: 0.5rem;
    margin-left: 0rem;
    font-size: 0.7rem;
  }
  .list2{
    font-size: 0.8rem;
    left: 1rem;
  }
  .mehr{
    font-size: 0.8rem;
    left: 1rem;
    bottom: 2rem;
  }


}